:root {
    --primart-text-color: #212121 
    --background-color: #ffffff 
    --accent-color: #2196f3 
    --text-color: #757575
}
* ,
* ::before,
* ::after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.body {
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav-link {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;

    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212121;
}

.sitenav-link:focus,
.sitenav-link:hover {
    color: #2196F3;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
}

.textdecor {
    text-decoration: none;
}

.logo:focus {
    color: #2196F3;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
}
.web {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.mail {
    display: inline-block;
    margin-left: auto;
    margin-right: 0;

    color: #757575;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}
.telefone {
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
    padding-left: auto;

    color: #757575;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.mail:hover,
.mail:focus {
    color: #2196F3;
}

.telefone:hover,
.telefone:focus {
    color: #2196F3;
}

.hero {
    display: block;
    margin-bottom: 0px;
    width: 1600px;
    position: absolute;
    background-color: #2F303A;
}

.hero-title {
    margin-bottom: 0px;

    font-family: inherit;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.button-title {
    display: inline-block;
    border: solid #2196F3;
    border-radius: 4px;
    margin-top: 30px;

    color: #ffffff;
    background-color: #2196F3;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-align: center;
}

.text-title {
    font-family: inherit;
    font-style: Bold;
    font-size: 14px;
    line-height: 1.2;
    align: left;
    letter spacing: 3%;
    color: #212121;
    text-transform: uppercase;

}

.text {
    color: #757575;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}

.title {
    color: #212121;
    font-family: inherit;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-align: center;
}

.comand {
    color: #212121;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.comand-list {
    color: #757575;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.footer {

    background-color: #2F303A;
}
.logo-footer:focus {
    color: #2196F3;
}

.address {
    color: #ffffff;
    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}

.button-title2 {
    display: inline-block;

    background-color: #F5F4FA;
    color: #212121;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
}

.button-title2:hover,
.button-title2:focus {
    color: #ffffff;
    background-color: #2196F3;
}

.projects-title {
    color: #212121;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}
.container-footer {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.telefone-footer {
    display: inline-block;

    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
}
.mail-footer {
    display: inline-block;

    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
    }
}

.mail-footer:focus,
.mail-footer:hover {
    color: #2196F3;
}

.telefone-footer:focus,
.telefone-footer:hover {
    color: #2196F3;
}